<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dupleit.kotlin.primaryschoolassessment">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.SplashScreen"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.AboutUsActivity"
            android:label="@string/activity_title_about_us" />
        <activity
            android:name=".activities.PrivacyPolicyActivity"
            android:label="@string/activity_title_privacy_policy" />
        <activity
            android:name=".activities.FaqActivity"
            android:label="@string/activity_title_faq" />
        <activity
            android:name=".activities.Login.UI.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".getStudents.UI.getClassStudents"
            android:label="@string/activity_title_allstudents" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity
            android:name=".activities.studentProfile.studentProfile"
            android:label="@string/activity_title_studentProfile" />
        <activity
            android:name=".Evidence.AddEvidence"
            android:label="@string/activity_title_studentProfile"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity android:name=".fragments.subTitleframework.gettingFrameworkSubtitles" />
        <activity android:name=".fragments.evidences.gettingstudentEvidence.GridStudentEvidence" />
        <activity android:name=".fragments.evidences.PreviewEvidence.EvidencePreview" />
        <activity
            android:name=".FullImageView.FullImage"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".videoPlayer.videoPlayer"
            android:configChanges="orientation|screenSize|keyboard"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Graph.graphActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".fragments.AssessmentRecord.asssesmentPreview.assessmentPreview" />
        <activity android:name=".fragments.evidences.gettingstudentEvidence.filterActivity" />
        <activity android:name=".singleStudentDetail.profileSingleStudent" />
        <activity android:name=".singleStudentDetail.singleStudentBasicInfo" />
        <activity android:name=".PieChart.getMonthFramework.adapter.UI.selectMonthFramework" />
        <activity android:name=".PieChart.PreviewPieChart.PieChartActivity" />
        <activity android:name=".forgotPassword.fogotPassswordActivity" />
        <activity android:name=".forgotPassword.forgotPasswordValidate" />
        <activity android:name=".teacherClasss.getTeacherCurrentClass" />
        <activity android:name=".teacherClasss.selectTeacherClass.selectStudentClass" />
        <activity android:name=".tryActivity" />
        <activity android:name=".createFramework.CreateFramework.create_framework" />
        <activity android:name=".createFramework.addCatogaryFramework.createCategoryFramework" />
        <activity android:name=".addSubframeMarksDetails.SubFramworkMarksDetails" />
        <activity android:name=".addSubframeMarksDetails.addSubFrameMarksDetails"></activity>
    </application>

</manifest>